article {
    color: white;
    height: 85vh;
    text-align: center;
}

body {
    font-family: 'Exo 2', sans-serif;
}

h1 {
    font-size: 110px;
}

html {
    background:linear-gradient(black, #313131);
}

footer {
    background: white;
}





h2 {
    font-size: 46px;
}

h3 {
    font-size: 32px;
}

b {
    text-transform: uppercase;
}
