html {
    background:linear-gradient(black, #313131);
}

body {
    font-family: 'Exo 2', sans-serif;
}

main {
    position: relative;
}

article {
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 30vh;
}

footer {
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 32px;
}

b {
    text-transform: uppercase;
}

.hover_img a {
    position: relative;
    color: inherit;
    text-decoration: inherit;
}

.hover_img a span {
    position: absolute;
    display: none;
    z-index: 99;
}

.hover_img a:hover span {display: block; }
